body {
  padding-top: 3.5rem;
  background-color: #E1E8E4;
  color: white;
}
html{
	
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}
.land{
	height: 800px;
	width: 100%;
	padding-top: 164px;
	min-height: 1px;
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    	),
    	url(Assets/RollingMist2.jpg);
	background-repeat: : no-repeat;
	background-size: cover;
	background-position: center center;
}
.navbar{
	background-color: transparent;
	color: black;
	border-color: transparent;
}
.navbar-brand{
	margin-left: 5%;
}
.navRight{
	margin-left: 70%;
}
.nav-item{
	margin-right: 5%;
	margin-left: 5%;
	letter-spacing: 1px;
}
.display-3{
	color: #2F998C;
	text-align: center;
	padding-left: 5px;
}
.whatYouGet{
	height: 550px;
	width: 100%;
	padding-top: 75px;
	text-align: center;
	color: black;
}
.whatYouGetOne{
	padding-right: 20%;
	border-right: 1px solid black;
}
.whatYouGetTwo{
	padding-left: 20%;
}
.skills{
	height: 700px;
	width: 100%;
	padding-top: 40px;
	background: url("Assets/TypeWriter.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}
.tools{
	height: 900px;
	width: 100%;
	color: black;
	padding-top: 80px;
	padding-bottom: 100px;
/*	background: url("Assets/TypeWriter.jpg") no-repeat center center;*/
	background-size: cover;
	text-align: center;
}
.tools2{
	padding-top: 75px;
	padding-bottom: 75px;
}
.filler{
	height: 500px;
	width:100%;
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    	),
    	url(Assets/Lake.jpg);
	background-repeat: : no-repeat;
	background-size: cover;
	background-position: center center;
}
.filler span{
	color: white;
	font-size: 4em;
	padding-left: 10%;
	margin-top: 12.5%;
	text-align: center;
}
.smallPort{
	height: 1000px;
	width: 100%;
	color: black;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 80px;
	padding-bottom: 100px;
/*	background: url("Assets/TypeWriter.jpg") no-repeat center center;*/
	background-size: cover;
	text-align: center;
}
.smallPort2{

}
.imgWrapper{
	margin-top: 25px;
	height: 250px;
	width: 50px;
	border-radius: 10px;
}
.site1{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site2{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site3{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site4{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site5{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site6{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.lastAd{
	height: 600px;
	width: 100%;
	color: black;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #00D8FF;
	text-align: center;
}
.adBox{
	height: 400px;
	width: 100%;
	background-color: white;
	color: blue;
	border-radius: 3px;
}
.adText{
	padding-top: 50px;
}

#adTextSecond{
	font-size: .85em;
}
footer{
	height: 80px;
	width: 100%;
	background-color: grey;
}


/*   Contact   */
.contactLand{
	background: url('Assets/ZombieLand.jpg') no-repeat;
	background-position: bottom;
	background-size: cover;
}
.contactForm{
	position: relative;
	width: 100%;
	padding-left: 33%;
	padding-right: 25%;
	margin-top: 100px;
	height: 600px;
	color: black;
}
.submit{
	margin-left: 30%;
}

body, html {
    height: 100%
}

.bgimg {
    /* Background image */
    background-image: url('Assets/RollingMist2.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}