body {
  padding-top: 3.5rem;
  background-color: #E1E8E4;
  color: white;
}
html{
	
}
a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}
.land{
	height: 800px;
	width: 100%;
	padding-top: 164px;
	min-height: 1px;
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    	),
    	url(Assets/RollingMist2.jpg);
	background-repeat: : no-repeat;
	background-size: cover;
	background-position: center center;
}
.navbar{
	background-color: transparent;
	color: black;
	border-color: transparent;
}
.navbar-brand{
	margin-left: 5%;
}
.navRight{
	margin-left: 70%;
}
.nav-item{
	margin-right: 5%;
	margin-left: 5%;
	letter-spacing: 1px;
}
.display-3{
	color: #2F998C;
	text-align: center;
	padding-left: 5px;
}
.whatYouGet{
	height: 550px;
	width: 100%;
	padding-top: 75px;
	text-align: center;
	color: black;
}
.whatYouGetOne{
	padding-right: 20%;
	border-right: 1px solid black;
}
.whatYouGetTwo{
	padding-left: 20%;
}
.skills{
	height: 700px;
	width: 100%;
	padding-top: 40px;
	background: url("Assets/TypeWriter.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}
.tools{
	height: 900px;
	width: 100%;
	color: black;
	padding-top: 80px;
	padding-bottom: 100px;
/*	background: url("Assets/TypeWriter.jpg") no-repeat center center;*/
	background-size: cover;
	text-align: center;
}
.tools2{
	padding-top: 75px;
	padding-bottom: 75px;
}
.filler{
	height: 500px;
	width:100%;
	background:
		linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    	),
    	url(Assets/Lake.jpg);
	background-repeat: : no-repeat;
	background-size: cover;
	background-position: center center;
}
.filler span{
	color: white;
	font-size: 4em;
	padding-left: 10%;
	margin-top: 20%;
	text-align: center;
}
.smallPort{
	height: 900px;
	width: 100%;
	color: black;
	padding-top: 80px;
	padding-bottom: 100px;
/*	background: url("Assets/TypeWriter.jpg") no-repeat center center;*/
	background-size: cover;
	text-align: center;
}
.imgWrapper{
	margin-top: 25px;
	height: 250px;
	width: 50px;
	border-radius: 10px;
}
.site1{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site2{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site3{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site4{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site5{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
.site6{
	width: 100%;
	background: url('Assets/Capture.PNG') center center;
	background-size: cover;	
}
